<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://localhost:5000/static/style.css">
</head>
<body>
<form action="http://localhost:5000/index" method="post">
    <div class="url"><span>url:</span><input type="text" value="https://www.google.com/" name="url"></div>
    <div class="url"><span>proxy:</span><input class="proxy" type="text" value="127.0.0.1:7654" name="proxy"></div>
    <input type="submit" value="go">
    <br>
</form>
</body>
</html>