<!DOCTYPE html>
<head>
    {% from "_macros_bootstrap" import bootstrap_form_input, bootstrap_form_button with context %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css" type="text/css" media="screen"/>
    <meta charset="UTF-8">
    <style>
        /*body{*/
            /*background: url("https://png.pngtree.com/element_origin_min_pic/12/03/20/1656e402325b271.jpg") ;*/
        /*}*/
    </style>
    <title>Блюда</title>
</head>
<body>
<!--<img src="https://pp.userapi.com/c638123/v638123601/53f84/6BciygncB5g.jpg">-->
{% include 'menu.html' %}
<div class="container">
    <h1>Список блюд</h1>
    <form method="get" id="formDish">
        <table class="table1">
            <tbody>
        <td class="td1">{{ form.ingreds }}

        {{ bootstrap_form_button(form.button_search2_add) }}
        {% if form.ingreds|length > 0  %}
            {{ form.button_search2_remove }}
        {% endif %}
        <br/>
        {{ form.button_search3 }}
        </td>

            <td class="td1">{{ bootstrap_form_input(form.dish_name) }}

                <!--<td><input type="text" id="inputN"></td>-->

            {{ bootstrap_form_button(form.button_search1) }}</td>
            </tbody>

                <!--<td> <a href="{{url_for('search_dish', id='0', do='change')}}">Изменить</a></td>-->

        </table>
    </form>
    <table class="table1">
        <thead>
        <tr>
            <th class="th1" align="left">Блюдо</th>
            <th class="th1" align="center">Рецепт</th>
            <th class="th1" align="left">Список ингредиентов</th>
            <th class="th1" align="right">Время приготовления</th>
        </tr>
        </thead>
        <tbody>
        {% for g in dish %}
        <tr>
            <td  class="td1">{{ g.dish.dish_name }}</td>
            <td  class="td1" align="center">{{ g.dish.recipe }}</td>

            <td  class="td1" align="right"> {% for e in ingreds[g.id_dish] %} <br> {{ e }}  {% endfor %}</td>

            <td  class="td1" align="right">{{ g.dish.time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
