<!DOCTYPE html>
<head>
    {% from "_macros_bootstrap" import bootstrap_form_input, bootstrap_form_button with context %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <title>Ингредиент</title>
</head>
<body>
    {% include 'menu.html' %}
    <div class="container">
        <h2>Информация об ингредиенте</h2>
        <form method="post" id="IngredForm">
            <table class="table1">
                <td class="td1">
           {{ bootstrap_form_input(form.ingred_name) }}
           {{ bootstrap_form_button(form.button_save, class_="btn btn-success") }}
                </td>
            </table>

        </form>
    </div>
</body>
</html>
