<!DOCTYPE html>
<head>
    {% from "_macros_bootstrap" import bootstrap_form_input, bootstrap_form_button with context %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <title>Блюда и ингредиенты</title>
</head>
<body>
{% include 'menu.html' %}
<div class="container">
    <h2>Блюда с ингредиентами</h2>
    <form method="get" id="formDish">
        <table class="table1">
            <tr>
                <td class="td1">{{ bootstrap_form_input(form.ingred_name) }}</td>
                <td class="td1">{{ bootstrap_form_input(form.dish_name) }}</td>
                <td class="td1"> {{ bootstrap_form_button(form.button_search1) }}</td>
            </tr>
        </table>
    </form>

    <div>
            <a class="a1" href="{{url_for('change_dish_ingred', id='0', do='add')}}">Добавить блюдо с ингредиентом</a>
    </div>
    <table class="table_price">
        <thead>
        <tr>
            <th class="th1">Ингредиент</th>
            <th class="th1">Блюдо</th>
            <th class="th1">Количество</th>
            <th class="th1">Система измерения</th>
        </tr>
        </thead>
        <tbody>
        {% for g in dish_ingred %}
        <tr>
            <td class="td1">{{ g.dish.dish_name }}</td>
            <td class="td1">{{ g.ingred.ingred_name }}</td>
            <td class="td1">{{ g.sum }}</td>
            <td class="td1">{{ g.unit.unit_name }}</td>
            <td class="td1"> <a href="{{url_for('change_dish_ingred', id=g.id_dish_ingred, do='change')}}">Изменить</a></td>
            <td class="td1"> <a href="{{url_for('change_dish_ingred', id=g.id_dish_ingred, do='delete')}}">Удалить</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
            <a href="{{url_for('change_dish_ingred', id='0', do='add')}}">Добавить блюдо с ингредиентом</a>
    </div>
</div>
</body>
</html>
