<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Единицы измерения</title>
</head>
<body>
{% include 'menu.html' %}
<div class="container">
    <h2>Единицы измерения</h2>

    <div>
        <a class="a1" href="{{url_for('change_unit', id='0', do='add')}}">Добавить единицу измерения</a>
    </div>
    <table class="table_price">
        <thead>
        <tr>
            <th class="th1">Единицы измерения</th>
        </tr>
        </thead>
        <tbody>
        {% for g in units %}
        <tr>
            <td class="td1">{{ g.unit_name }}</td>
            <td class="td1"><a href="{{url_for('change_unit', id=g.id_unit, do='change')}}">Изменить</a></td>
            <td class="td1"><a href="{{url_for('change_unit', id=g.id_unit, do='delete')}}">Удалить</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
